//susy setup ---------------------------------
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

@include border-box-sizing;

$small: 30em;
$medium: 47em;
$large: 75em;

//content ---------------------------------
.layout {
    @include container;
    padding: 0 3%;    
    
    .primary {
        margin-top: .2em;
        @include susy-breakpoint($medium) {
            @include span(8 of 12);    
            
            #nextmeeting {
                @include border-radius(20px);
                color: $paleyellow;
                margin-bottom: 10px;
                margin-top: 10px;
                background: $cyan;
                padding: 0 20px 20px 20px;
                
                h1 {
                    color: darken($cyan, 15);
                    border: none;
                    text-shadow: none;
                    margin-bottom: 20px;
                }
                
                a {
                    color: $darkblue;    
                }
            }
        }
    }
    
    .secondary {
        @include susy-breakpoint($medium) {
            @include span(last 4 of 12);    
            font-size: 1.1rem;
            h1 {
                font-size: 1.8rem;
                color: $orange;
            }
        }
    }
}

//header ---------------------------------
header {
    img {
        width: 95%;
        margin: 2.5%;
        max-width: 500px;
        margin-bottom: 0;
    }
    
    .hero {
        width: 100%;
        @include susy-breakpoint($medium) {
            @include single-transition(all, 1s, ease-out);
            position: relative;
            display: block;
            width: 100%;
            height: 450px;
            @include background(linear-gradient(bottom left, rgba($darkerblue, .6), rgba($darkerblue, 0)), image-url('misc/helper.jpg'));
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;
            
            .branding {
                position: absolute;
                bottom: 0;
            }
        }
    }
}

//nav ---------------------------------
.navigation {
    background: lighten($darkblue, 15%);
    ul.nav {
        @include susy-breakpoint($small) {
            @include horizontal-list;    
        }
        li {
            i {
                color: lighten($yellow, 20%);
                padding-right: 0.5rem;
            }
            a {
                @include single-transition(all, 0.5s, ease-out);
                display: block;
                text-decoration: none;
                padding: 5px 10px;
                color: $paleryellow;
                
                &:hover, &:active {
                    background: $orange;
                    a {
                        color: lighten($yellow, 30);    
                    }
                }
            }
        }
    }
}
//speakers list ---------------------------------
.speakerslist {
    img {
        @include border-radius();
        width: 120px;
        float: left;
        margin: {
            right: 10px;
            bottom: 10px;
        } //margin
    }//img
    
    i {
        padding-right: 15px;    
    }
    
    @include susy-breakpoint($medium) {
        text-align: center;
        @include background(linear-gradient(top, lighten($darkblue, 3), $darkerblue));
        color: rgba($paleyellow, .5);
        overflow: hidden;
        padding-bottom: 15px;
        
        #{headings()} {
            text-shadow: none;
            border-bottom: none !important;
        }
        
        h1 {
            color: $green;
            font-size: 2.6rem;
            line-height: 1em;
            @include susy-breakpoint($large) {
                font-size: 4rem;
                line-height: 1em;
            } 
        }
        
        h3 {
            color: lighten($yellow, 10);
            line-height: .9rem; 
        }
        
        .small {
            padding-top: .4em !important;
            line-height: 1em;
            color: lighten($darkblue, 30);
            a {
                color: lighten($darkblue, 30);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        img.speaker {
            float: none;
            width: 40%;
            max-width: 170px;
            margin: 0 auto;
            @include border-radius(50%);
        }
        
        .small {
            display: block;    
        }
        
        p:nth-of-type(2) {
            font-weight: 200 !important;
            text-align: left;
            font-size: .8em;
            line-height: 0;
            @include single-transition(all, 1s, linear);
            opacity: 0;
        }
        
        &:hover {
            p:nth-of-type(2) {
                line-height: 1.5em;
                opacity: 1;
            }
        }
        
        .artist {
            @include span(4 of 12);    
            &:nth-of-type(3) {
                @include span(last 4 of 12);    
            }
        }
    }
}

//footer ---------------------------------
footer {
    color: $paleyellow;
    background: lighten($darkblue, 3%);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}